header {
    background-color: #1a31b4; 
    color: #ffe100; 
    text-align: center;
    box-shadow: 0 11px rgba(1, 1, 1, 0.5); 

  
}




p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#referenced {
font-size: larger;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

   


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    text-align: left;
   font-weight: bold;

}



ul {
    border: none;
    padding: 12px;
    margin-bottom: 10px;
}

h2{
border-radius: 4px;
background-color: #058905;
}



.test{
    flex: auto;
    text-align: left;
}

article{
        text-align: left;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    display: grid;
}

main {
    width: 50%;
    margin: 20px 0px;
    box-shadow: 0 15px rgba(0, 0, 0, 0.1); 
    border: 2px solid #058905;
    border-radius: 5px;
    padding:    10px;
    display: flex;
    flex-direction: column;
}




footer {
    background-color: #135802; 
    color: #ffffff; 
    border-style: dotted    ;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    padding: 3px;
   margin-right:auto;
}

#htype5{
    text-align: center;
    color: aquamarine;
}

.test{
    text-shadow: rgb(0, 0, 0) 0.5px 1px;
    font-weight: 800;
    border-bottom: 0ch;
}