header {
    align-self: center;
    background-color: #2770b155; 
    color: #ff0022; 
    text-align: center;
    border-style: outset;
    width: auto;
    height: auto;
}

img {
  width: 500px; 
  height: auto;
}

h3{ 
    font-family: Arial, sans-serif;
    text-align: center;
   font-weight: bolder;

}

/* Layout: make the page a column-flex so footer stays at bottom */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#svgn{
    height: 65px;
    width: auto;
}

#homet, #jpegt, #gift, #pngt{
    color: #000;
}

a{
    color: rgb(255, 162, 0);
    font-weight: 900;
}

a:hover {
  color: red;
}

/* Make main take remaining vertical space so footer is pushed to bottom */
main {
    flex: 1 0 auto;
    padding: 1rem;
}

footer {
    background-color: #2770b155; 
    color: #ffffff; 
    border-style: outset;      
    width: 100%;
    text-align: center;
    padding: 0.75rem 0;
}


